:root{ 
  font-size: 62.5%;
  --brand-color: #E07B67;
  --dark-10: #121214;
  --dark-20: #17171A;
  --dark-30: #202024;
  --dark-40: #252529;
  --dark-50: #AFABB6;
  --dark-60: #FFFFFF;
}
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-60);
}
body, html{
  font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
}
input, textarea, button, fieldset {
  border: none;
}
body {
  background: var(--dark-10);
}
#app{
 display: grid;
 height: 100vh;
}
.header {
  height: 29rem;
  width: 100%;
  padding: 6.4rem 12rem;
  background: var(--dark-20);
}
.header h1 {
  font-size: 4rem;
  font-family: 'Space Grotesk';
  font-weight: 500;
  line-height: 5.1rem;
  margin-bottom: 4.8rem;
  text-align: center;
}
.header h1 > span {
  color: var(--brand-color);
}
.header .input-wrapper { 
  display: flex;
  align-items: center;
  padding: 2rem 2.6rem;
  gap: 2rem;
  background-color: var(--dark-30);
  border: 2px solid var(--dark-40);
  border-radius: .8rem;
}
.header .input-wrapper input {
  display: inline-block; 
  
  height: 100%;
  background-color: transparent;
  font-family: 'Inter';
  color: var(--dark-60);
  font-size: 2rem;
  height: 500;
}
.header .input-wrapper input::placeholder { 
  font-family: 'Inter';
  color: var(--dark-50);
  font-size: 2rem;
  height: 500;
}
main#blog-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  padding: 8rem 12rem;
}
main#blog-posts article{
  min-width: 65vw;
  padding: 4rem;
  background-color: var(--dark-20);
  border: 2px solid var(--dark-30);
  border-radius: .8rem;
  transition: border 0.25s;
}
main#blog-posts article:hover {
  border: 2px solid var(--brand-color);
}
main#blog-posts article .post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
main#blog-posts article .post-info small {
  color: var(--brand-color);
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
}
main#blog-posts article .post-info button {
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border-radius: 0.8rem;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
main#blog-posts article .post-info button.button-favorite{
  background-image: url(../assets/heart.svg);
}
main#blog-posts article .post-info button.button-favorite.active{
  background-image: url(../assets/heart-ative.svg);

}
main#blog-posts article h2 {
  margin-bottom: 1.6rem;
  font-family: 'Space Grotesk';
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3rem;
}
main#blog-posts article p {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: var(--dark-50);
}

/* Tablet */
@media (max-width: 768px){
  .header {
    padding: 6.4rem 3.2rem;
  }
  main#blog-posts {
    padding: 5.6rem 3.2rem;   
  }
}
/* Mobile */
@media (max-width: 375px){
  .header {
    padding: 4.8rem 2.4rem;
  }
  main#blog-posts {
    padding: 4rem 2.4rem;   
  }
}